*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  /*font-family: 'Press Start 2P', cursive;*/
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background: #dbe9fb;*/
    /*background-image: url(../img/fruit.png);*/
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    /*padding: 0px 15px;*/
    padding: 15px 15px;
    /*background-color: rgba(255, 255, 255, 0.6);*/
}

/* Charge menu */
.spriteGirl {
    height: 157px;
    width: 125px;
    background-image: url(../img/sprites/girl.png);
    margin: 0 auto; 
    margin-bottom: 20px;
}

.spriteBoy {
    height: 140px;
    width: 108px;
    background-image: url(../img/sprites/boy.png);
    margin: 0 auto;  
}

.loading {
    width: 100%;
    font-size: 1.8em;
    border-top: 1px dashed;
    text-align: center;
    min-width: 200px;
    color: white;
}

.text-loader{
    padding: 10px 0;
}



/* INITIAL MENU */
.menuLarge {
  color: white;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #004797;
  border: 1px black solid;
  font-size: 2.1em;
  border-radius: 13px 25px;
}

.mainMenu {
    margin-top: 20px;
}

/* IMAGE MENU CONFIGURATION */
.container-button{
  padding: 0px 15px;
}

/* Imatges */
.images{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-image img{
  width: 100%;
  display: block;
  margin-top:20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-image {
  flex-grow: 1;
  padding: 0 15px;
  width: 25%;
}

/* Desciption Image */
.description {
  background: #FCFFFD;
  min-height: 44px;
  margin-top: 20px;
  padding: 10px 15px;
  text-align: center;
  font-size: 2em;
  border-radius: 13px 25px;
}

/* NEW GAME - SUDOKU TABLE */
/* Sudoku table*/
.sudoku{
  border: 2px solid black;
  border-collapse: collapse;
  /*margin: 50px auto 0;*/
  width: 550px;
  max-width: 100vw;
  max-height: 100vw;
  height: 550px;
}

.sudoku td {
  width: 25%;
  height: 25%;
  border: 1px dashed black;
  background-size: cover;
}

.sudoku td:nth-child(2){
  border-right: 2px solid black;
}
.sudoku tr:nth-child(2){
  border-bottom: 2px solid black;
}

/* Examples tile*/
.exampleTile{
  margin: 20px auto 0;
  width: 550px;
  max-width: 100vw;
  max-height: 25vw;
  height: 140px;
}

.exampleTile td {
  width: 25%;
  height: 100%;
  border: 2px solid black;
  background-size: cover;
   
}

.draggableTile {
  height: 100%;
  width: 100%;
  background-size: cover;
}

/* MENU BOTTOM*/

.under {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.separator {
  padding: 0 15px;
  width: 200px;
  text-align: center;
}

/* Trash */
.trash {
  margin: 20px auto 0;
  width: 140px;
  max-width: 25vw;
  max-height: 25vw;
  height: 140px;
  /*background-size: cover;*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* Charge loading */

.complete, .charge {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.8);
    z-index: 50;
    padding: 0px 15px;
}

.charge {
    background-color: rgba(0,0,0, 1);
}

.buttons {
  opacity: 0;
}

/* ADAPTATIVE */
@media (max-width: 991px) {
    .menuLarge {
        font-size: 1.5em;
    }
    .container {
        width: auto;
    } 
    .container-image {
        width: 50%;
    }
    .description {
      font-size: 1.5em;
    }
    .menu {
      padding: 0;
    }

    /* Elements in game */
    .exampleTile{
      width: 400px;
      height: 100px;
    }
    .sudoku {
      width: 400px;
      height: 400px;
    }
    .trash {
      max-width: 20vw;
      max-height: 20vw; 
    }
    .separator {
        width: 130px;
    }
}


/* ANIMATIONS */
/* Loading animation */
svg path,
svg rect{
  fill: black;
}

.loader {
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50px;
  animation: spin 1s infinite;
  display: inline-block;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Animations ALL MENUS*/
.menuLarge:hover {
 -webkit-animation-name: grow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: grow;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

/* Animations */
@-webkit-keyframes grow
{
  0%{-webkit-transform:scale(1);}
  50%{-webkit-transform:scale(1.1);}
  100%{-webkit-transform:scale(1);}
}
@-moz-keyframes grow
{
  0%{-moz-transform:scale(1);}
  50%{-moz-transform:scale(1.1);}
  100%{-moz-transform:scale(1);}
}
@-ms-keyframes grow
{
  0%{-ms-transform:scale(1);}
  50%{-ms-transform:scale(1.1);}
  100%{-ms-transform:scale(1);}
}

/* Incorrect sudoku animate + - */
.incorrect {
  -webkit-animation-name: grow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: grow;
  -moz-animation-duration: 1.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: grow;
  -ms-animation-duration: 1.5s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}



